.graph{
    height: 20rem;
    width: 29%;
    background-color: white;
    margin: 50px 0px 50px 20px;
    border-radius: 5px;
}

.userOverview {
    display: inline-block;
    margin: 12px;
    font-weight: 600;
    font-size: 18px;
}

hr{
    margin: 0;
}